@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root{
  --primary-red: #b22524;
  --yellow: #faa349;
  --green: #14c78f;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }
}

h1 {
  display: block;
  font-size: 2em;
  /* margin-top: 0.67em;
  margin-bottom: 0.67em; */
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.dots {
  flex-grow: 1;
  margin-left: 0.5rem
    /* 8px */
  ;
  margin-right: 0.5rem
    /* 8px */
  ;
  margin-top: 0.25rem
    /* 4px */
  ;
  margin-bottom: 0.25rem
    /* 4px */
  ;
  border-bottom: 2px dotted #FFFFFF;

}

.text-box {
  box-sizing: border-box;
  border-radius: calc(var(--radius) - 4px);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(112 121 129 / var(--tw-bg-opacity));
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-box:hover {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
  cursor: pointer;
}